html,
body {
  height: 100%;
  width: 100%;
}


p {
  text-align: center;
}

header {
  height: 10%;
  background: black;
}

footer {
  background: black;
  height: 10%;
}

.main-container {
  height: 80%;
  width: 100%;
  background-image: url('background.png');
  background-size: 100% 100%;
  display: flex;
  flex: row;
}

.image-holder img {
  width: 100%;
}

.skill-container {
  width: 25%;
  color: red;
}

.game-container {
  width: 50%;
  font-size: 3em;
  font-weight: bolder;
  color: red;
}

.chat-container {
  width: 25%;
  color: red;
}

.chat {
  height: 90%;
  width: 100%;
  font-weight: bolder;
  font-size: 1.4em;
  overflow-y: auto;
}

input {
  width: 80%;
}
